ConsultingHub/force-app/main/default/flows/ia_practice_development_focus_areas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank0&quot;,&quot;rankText&quot;:&quot;{!q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank1&quot;,&quot;rankText&quot;:&quot;{!q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank2&quot;,&quot;rankText&quot;:&quot;{!q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank0&quot;,&quot;rankText&quot;:&quot;{!q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank1&quot;,&quot;rankText&quot;:&quot;{!q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank2&quot;,&quot;rankText&quot;:&quot;{!q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank3&quot;,&quot;rankText&quot;:&quot;{!q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank0&quot;,&quot;rankText&quot;:&quot;{!q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank1&quot;,&quot;rankText&quot;:&quot;{!q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank2&quot;,&quot;rankText&quot;:&quot;{!q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank3&quot;,&quot;rankText&quot;:&quot;{!q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank0&quot;,&quot;rankText&quot;:&quot;{!q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank1&quot;,&quot;rankText&quot;:&quot;{!q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank2&quot;,&quot;rankText&quot;:&quot;{!q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank3&quot;,&quot;rankText&quot;:&quot;{!q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank4&quot;,&quot;rankText&quot;:&quot;{!q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_312fc376_6c5f_47da_98da_30b580446661</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_320d2b6f_369b_4dca_9b1d_1dfb6e1be371</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3746f983_f01a_472e_8d6b_699556bf5552</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3f9927a5_927b_4bf7_81a7_ade37995d19d</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4436e3f7_1d45_4e1b_8d8b_39847d291a94</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4e2b9c58_4dba_4713_a2de_77549b72aae0</name>
        <choiceText>Not at All Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_55eabbe5_6796_472a_a908_1ed318ee8410</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5c1fcd2d_5715_4aef_8b28_94a2957ee33a</name>
        <choiceText>Not at All Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5eb96345_9687_470e_94e9_b8fa3c19476f</name>
        <choiceText>Not at All Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6d5fd298_e62e_466d_a401_20ce55e22f34</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cc36e07f_da24_4063_91cc_183c1091d515</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d24ed1cb_a69a_42f7_af71_704f9dcdd42b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_deb3acc2_8b37_444b_8c25_2065e2085b89</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e02d2293_8fc8_4717_aebd_de3d905dc2da</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f8655683_bb03_418f_ab22_7efad5eb3317</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>IA Practice Development Focus Areas</interviewLabel>
    <label>IA Practice Development Focus Areas</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>survey_557b7868_0b4d_4d60_aef4_813d94461726</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0c416080_d304_4143_a304_0e414b1154ca</name>
        <label>Improvements by Focus Area</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_130d6819_2e2d_4aa2_9563_9c55ea026f20</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rank which process improvements are most important to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please rank the below items with 1=most important and 4=least important</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rank which technology improvements are most important to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please rank the below items with 1=most important and 4=least important</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[5,4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rank which content improvements are most important to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please rank the below items with 1=most important and 5=least important</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_11cb2c09_605f_4d6c_83ff_58c6eb1fd990</name>
        <label>Current Satisfaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_7f5f3e29_82fb_4b8c_a231_b7276c38563e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6bda0682_39f7_44ca_a316_211d04796d03_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_6bda0682_39f7_44ca_a316_211d04796d03</name>
            <choiceReferences>c_5c1fcd2d_5715_4aef_8b28_94a2957ee33a</choiceReferences>
            <choiceReferences>c_312fc376_6c5f_47da_98da_30b580446661</choiceReferences>
            <choiceReferences>c_320d2b6f_369b_4dca_9b1d_1dfb6e1be371</choiceReferences>
            <choiceReferences>c_d24ed1cb_a69a_42f7_af71_704f9dcdd42b</choiceReferences>
            <choiceReferences>c_6d5fd298_e62e_466d_a401_20ce55e22f34</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rate how satisfied you are with our onboarding program at preparing new team members for IA engagements&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_91913dd1_17d1_46aa_84b0_db1cf790183d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_91913dd1_17d1_46aa_84b0_db1cf790183d</name>
            <choiceReferences>c_4e2b9c58_4dba_4713_a2de_77549b72aae0</choiceReferences>
            <choiceReferences>c_4436e3f7_1d45_4e1b_8d8b_39847d291a94</choiceReferences>
            <choiceReferences>c_55eabbe5_6796_472a_a908_1ed318ee8410</choiceReferences>
            <choiceReferences>c_e02d2293_8fc8_4717_aebd_de3d905dc2da</choiceReferences>
            <choiceReferences>c_3f9927a5_927b_4bf7_81a7_ade37995d19d</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rate how satisfied you are with the ability to get support for your engagements when you need it.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_561f30f6_cf81_476d_9f12_82e554682d1b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_561f30f6_cf81_476d_9f12_82e554682d1b</name>
            <choiceReferences>c_5eb96345_9687_470e_94e9_b8fa3c19476f</choiceReferences>
            <choiceReferences>c_3746f983_f01a_472e_8d6b_699556bf5552</choiceReferences>
            <choiceReferences>c_deb3acc2_8b37_444b_8c25_2065e2085b89</choiceReferences>
            <choiceReferences>c_f8655683_bb03_418f_ab22_7efad5eb3317</choiceReferences>
            <choiceReferences>c_cc36e07f_da24_4063_91cc_183c1091d515</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rate how satisfied you are with the current tools and content available to you to support your engagements.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dfe906fb_bc7a_4a08_9405_79073dc90aa3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What is the most important thing our practice needs to improve to enable you to be successful in your engagements?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_7f5f3e29_82fb_4b8c_a231_b7276c38563e</name>
        <label>Top Improvement Focus Areas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_0c416080_d304_4143_a304_0e414b1154ca</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ccd35b21_60d8_49e7_afd8_eafd622145e0</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Which area of focus do you feel is most important for us as a practice in the short term?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Please rank the below items with 1=most important and 3=least important</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c3a42603_2327_4b57_90a1_91ae848889fa</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please add additional topics not covered above.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>If adding additional topics, please include a numeric rank where this would fall relative to your rankings above (1=most important, 4=least important)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_11cb2c09_605f_4d6c_83ff_58c6eb1fd990</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Methodology (How we deliver)</text>
    </textTemplates>
    <textTemplates>
        <name>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Team Onboarding (How we prepare to be an IA)</text>
    </textTemplates>
    <textTemplates>
        <name>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Engagement Onboarding (How we prepare for a new project)</text>
    </textTemplates>
    <textTemplates>
        <name>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Support (How we get product or project help when we need it)</text>
    </textTemplates>
    <textTemplates>
        <name>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Easier Engagement record creation and management in IATAM</text>
    </textTemplates>
    <textTemplates>
        <name>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Easier Onboarding record creation and management in IATAM</text>
    </textTemplates>
    <textTemplates>
        <name>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Re-usable assets &amp; design patterns (e.g. Apps, Packages, Flow Templates)</text>
    </textTemplates>
    <textTemplates>
        <name>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Internal Productivity Applications (e.g. Chat, LucidChart, Quip)</text>
    </textTemplates>
    <textTemplates>
        <name>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Engagement Guide Decks</text>
    </textTemplates>
    <textTemplates>
        <name>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Engagement Kickoff Decks</text>
    </textTemplates>
    <textTemplates>
        <name>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Product/Technology Specific Decks</text>
    </textTemplates>
    <textTemplates>
        <name>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>CSAT Review Decks</text>
    </textTemplates>
    <textTemplates>
        <name>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Engagement Management Quip docs</text>
    </textTemplates>
    <textTemplates>
        <name>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Process Improvements (e.g. Delivery Methodology, Onboarding, Engagement/Product Support)</text>
    </textTemplates>
    <textTemplates>
        <name>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Technology Improvements (e.g. IATAM Org Improvements, Deployable Apps/Packages)</text>
    </textTemplates>
    <textTemplates>
        <name>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Content Improvements (e.g. Kick Off Deck, Engagement Deck, CSAT Review)</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thank you for taking the time to complete this survey. Your responses will directly influence our practice development priorities in the coming weeks and months and your feedback is critical to our success moving forward. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;We very much appreciate everything you do to make our team and our company what it is.  Thank you!!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://iatam--c.documentforce.com/file-asset-public/ThankYouBadge?oid=00D030000004aat&amp;amp;v=1&quot; alt=&quot;ThankYouBadge&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please take a few moments to tell us your top priorities for IA practice development. 

All survey responses are anonymous and confidential.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;IA Practice Development Priorities Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_130d6819_2e2d_4aa2_9563_9c55ea026f20_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>q_2ab1f1f9_5744_4a83_8278_f2dbc56e70ef_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>q_b13e5b2f_0efa_4e60_b51e_574c5ceecc5b_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>q_ccd35b21_60d8_49e7_afd8_eafd622145e0_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_561f30f6_cf81_476d_9f12_82e554682d1b_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_6bda0682_39f7_44ca_a316_211d04796d03_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_91913dd1_17d1_46aa_84b0_db1cf790183d_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
