ConsultingHub/force-app/main/default/flows/ia_team_call_feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank0&quot;,&quot;rankText&quot;:&quot;{!q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank1&quot;,&quot;rankText&quot;:&quot;{!q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank2&quot;,&quot;rankText&quot;:&quot;{!q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank3&quot;,&quot;rankText&quot;:&quot;{!q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank4&quot;,&quot;rankText&quot;:&quot;{!q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank0&quot;,&quot;rankText&quot;:&quot;{!q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank1&quot;,&quot;rankText&quot;:&quot;{!q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank2&quot;,&quot;rankText&quot;:&quot;{!q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank3&quot;,&quot;rankText&quot;:&quot;{!q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank4&quot;,&quot;rankText&quot;:&quot;{!q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank0&quot;,&quot;rankText&quot;:&quot;{!q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank1&quot;,&quot;rankText&quot;:&quot;{!q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank2&quot;,&quot;rankText&quot;:&quot;{!q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank3&quot;,&quot;rankText&quot;:&quot;{!q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_06410e79_8709_4bbe_ac7a_a81709589cb1</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_074af16c_b03f_4f38_90b7_ccad938bbbf9</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0f171f46_93ad_48fe_8f22_d1d40c1f79c3</name>
        <choiceText>GREAT characteristic development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GREAT characteristic development</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f64fdd7_f7e3_43f5_8e58_815c0f337475</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_17540a9e_0bf2_4f26_bb72_5170b43a3040</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_320685fe_ece9_4d5a_98fc_5c0ef78a8d1b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3c03bc2f_8b46_41c4_b581_8f99cc1a8e4f</name>
        <choiceText>Success Cloud Portfolio guest speakers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Success Cloud Portfolio guest speakers</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_44b84784_e7c4_4416_b347_e7f55cc69405</name>
        <choiceText>No more than five minutes.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No more than five minutes.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_473b58ac_0af4_42c8_826d_7a84be25ecff</name>
        <choiceText>Low</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_47561541_0ef1_4198_ac71_f636c4440ddf</name>
        <choiceText>High</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5f28fc7d_46a4_440d_bd6e_ceaf21656b6a</name>
        <choiceText>Half an hour.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Half an hour.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6989642f_f3e9_492c_9ab0_22c54fa67cc1</name>
        <choiceText>Awards and recognitions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awards and recognitions</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6c15c748_314e_4dd5_8e1f_d68d29b27321</name>
        <choiceText>too short, we should extend it two hours.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>too short, we should extend it two hours.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_79a09e6a_f2a5_411f_91ff_5ac8a51a9bf8</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_841b7d0b_25fc_4fba_bd51_9bdedf052816</name>
        <choiceText>Low</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_88876359_0e44_432f_8e01_8c579f71f478</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_938122a4_dd3e_4151_938e_aef63a6a9722</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9a2bfe72_9302_4711_9bca_15b9d917f9f9</name>
        <choiceText>just long enough.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>just long enough.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9b5c0dca_9e0e_4afa_a398_7d979e7c6499</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9dbaf093_94dd_4673_99b6_07c0ae2130c9</name>
        <choiceText>just often enough.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>just often enough.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a8a3d343_b1ba_4a1b_9864_ce5b9616ed81</name>
        <choiceText>Between five and ten minutes.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Between five and ten minutes.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_abbd604f_51a5_4adf_acd7_857be17440ae</name>
        <choiceText>Low</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_accd28a7_fa0e_4cd8_a7b9_0c6be57e476f</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_adf6e207_1ddd_48b8_a33c_105cef91839e</name>
        <choiceText>too infrequent, we should meet weekly.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>too infrequent, we should meet weekly.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae7651d4_9503_459d_8fdc_9c46c8c8f156</name>
        <choiceText>too frequent, we should meet monthly.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>too frequent, we should meet monthly.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b43f57fc_3d36_4887_91e7_92efaee7f9ef</name>
        <choiceText>High</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b8d06e31_3bfd_4fae_987d_ac6cebfe6b92</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cbeba754_867e_4f63_8fbf_1f0fe672bc92</name>
        <choiceText>too long, we should shorten it to 30 minutes.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>too long, we should shorten it to 30 minutes.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d28a5fb5_3894_4845_a491_20ff0e9fa452</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d4f2fb8e_3384_4918_854e_5bbf11eb1df5</name>
        <choiceText>High</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e23eb1cf_b6de_41db_b909_fd672828e1ab</name>
        <choiceText>Low</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f4303daa_9b52_4ccc_bfaa_90929e060670</name>
        <choiceText>High</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fa604ea2_4951_42b1_9d2a_98288f425f2e</name>
        <choiceText>Social, team-building exercises</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social, team-building exercises</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ff6522e9_085c_43fa_967d_f03caf7f94e7</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_08babe3d_43f7_4208_9a1d_fcd9bc89944c</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_2b0ec532_e571_4b4f_93b8_16528b880fae</name>
        <choiceText>High</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_6d529ab5_7afb_487b_9fa5_220b03b0fd81</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_a1a49505_2449_4e2a_8f58_027bb69de50d</name>
        <choiceText>Low</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_f4d44199_e9a3_4a33_aabc_527ed56d370e</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>IA Team Call Feedback</interviewLabel>
    <label>IA Team Call Feedback</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>ia_team_call_feedback_4</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_2aa1e684_ba0c_404c_b019_fd8229c7701e</name>
        <label>Team Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_92c25329_fcd5_403a_b311_b4bfa93f4eca</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3787923a_1f2a_4379_8d88_53203e395499_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_3787923a_1f2a_4379_8d88_53203e395499</name>
            <choiceReferences>S_a1a49505_2449_4e2a_8f58_027bb69de50d</choiceReferences>
            <choiceReferences>S_f4d44199_e9a3_4a33_aabc_527ed56d370e</choiceReferences>
            <choiceReferences>S_6d529ab5_7afb_487b_9fa5_220b03b0fd81</choiceReferences>
            <choiceReferences>S_08babe3d_43f7_4208_9a1d_fcd9bc89944c</choiceReferences>
            <choiceReferences>S_2b0ec532_e571_4b4f_93b8_16528b880fae</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rate the &lt;i&gt;Team Updates&lt;/i&gt; segment of the call in terms of value it provides to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[5,4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_51426d6b_9734_4dbc_8a63_0d365fd89d85</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;We cover various types of team updates on our calls. Rank these in order of importance.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;(1=most important, 5=least important)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2d2413b3_f057_4274_8357_440d784401e9</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Describe any team updates you would like to see covered on future calls.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_4bcf714d_caf4_49d3_a2ca_01711d7ff6a6</name>
        <label>New Segments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_42c7d1f5_c88b_4446_9219_a37254e6bd96</name>
            <choiceReferences>c_3c03bc2f_8b46_41c4_b581_8f99cc1a8e4f</choiceReferences>
            <choiceReferences>c_6989642f_f3e9_492c_9ab0_22c54fa67cc1</choiceReferences>
            <choiceReferences>c_fa604ea2_4951_42b1_9d2a_98288f425f2e</choiceReferences>
            <choiceReferences>c_0f171f46_93ad_48fe_8f22_d1d40c1f79c3</choiceReferences>
            <choiceReferences>c_accd28a7_fa0e_4cd8_a7b9_0c6be57e476f</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What additional segments should we include on the call to make the time more valuable for you?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_46074dcb_440a_4f8c_bdf9_1b0f2e4e371e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Describe any segment(s) you would like to see covered on future calls.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_42c7d1f5_c88b_4446_9219_a37254e6bd96</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_accd28a7_fa0e_4cd8_a7b9_0c6be57e476f</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_52843559_5727_4a5e_aa96_6c17b7df8bca</name>
        <label>Open Floor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_4bcf714d_caf4_49d3_a2ca_01711d7ff6a6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8247d21b_66d1_4d30_9f79_e2d9f170d735_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_8247d21b_66d1_4d30_9f79_e2d9f170d735</name>
            <choiceReferences>c_e23eb1cf_b6de_41db_b909_fd672828e1ab</choiceReferences>
            <choiceReferences>c_938122a4_dd3e_4151_938e_aef63a6a9722</choiceReferences>
            <choiceReferences>c_88876359_0e44_432f_8e01_8c579f71f478</choiceReferences>
            <choiceReferences>c_074af16c_b03f_4f38_90b7_ccad938bbbf9</choiceReferences>
            <choiceReferences>c_47561541_0ef1_4198_ac71_f636c4440ddf</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;We try to leave time at the end of each call for an Open Floor discussion.  What value do you place on this segment?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_630b39fe_99bd_41f5_814e_381a91921016</name>
            <choiceReferences>c_44b84784_e7c4_4416_b347_e7f55cc69405</choiceReferences>
            <choiceReferences>c_a8a3d343_b1ba_4a1b_9864_ce5b9616ed81</choiceReferences>
            <choiceReferences>c_5f28fc7d_46a4_440d_bd6e_ceaf21656b6a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;If we commit to having an open floor discussion on each call, how much time should we dedicate to this segment?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_92c25329_fcd5_403a_b311_b4bfa93f4eca</name>
        <label>Sharing Topic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ebf3b417_da58_4254_ac84_0500b0011112</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5403cb35_357b_48c6_9b0c_a06cc0e48937_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5403cb35_357b_48c6_9b0c_a06cc0e48937</name>
            <choiceReferences>c_abbd604f_51a5_4adf_acd7_857be17440ae</choiceReferences>
            <choiceReferences>c_9b5c0dca_9e0e_4afa_a398_7d979e7c6499</choiceReferences>
            <choiceReferences>c_0f64fdd7_f7e3_43f5_8e58_815c0f337475</choiceReferences>
            <choiceReferences>c_320685fe_ece9_4d5a_98fc_5c0ef78a8d1b</choiceReferences>
            <choiceReferences>c_f4303daa_9b52_4ccc_bfaa_90929e060670</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rate the &lt;i&gt;Sharing Topic&lt;/i&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; segment of the call in terms of value it provides to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_732a2fe0_da8d_4310_8759_5537a65c3ec4</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;We cover various types of sharing topics on our calls. Rank these in order of importance.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;(1=most important, 5=least important)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a5d2852f_80e3_4066_a994_11b939f4b908</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Describe any sharing topics you would like to see covered on future calls.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_aa9c53f9_b4a6_4241_87d1_edde4a561aaf</name>
        <label>Call Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_d077131a_002e_4f2e_96bd_b8e6827bbbfb</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b275a9cb_4be5_4fed_b175_cc19b96e3ae5</name>
            <choiceReferences>c_6c15c748_314e_4dd5_8e1f_d68d29b27321</choiceReferences>
            <choiceReferences>c_9a2bfe72_9302_4711_9bca_15b9d917f9f9</choiceReferences>
            <choiceReferences>c_cbeba754_867e_4f63_8fbf_1f0fe672bc92</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;The IA team call is scheduled for an hour. This is...&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6b548a76_3020_45ae_b786_735fe8a268f4</name>
            <choiceReferences>c_ae7651d4_9503_459d_8fdc_9c46c8c8f156</choiceReferences>
            <choiceReferences>c_9dbaf093_94dd_4673_99b6_07c0ae2130c9</choiceReferences>
            <choiceReferences>c_adf6e207_1ddd_48b8_a33c_105cef91839e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;The IA team call occurs every two weeks. This is...&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d077131a_002e_4f2e_96bd_b8e6827bbbfb</name>
        <label>Organization Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_2aa1e684_ba0c_404c_b019_fd8229c7701e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_138b3660_8bc0_48f6_9869_cb7935915f8a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_138b3660_8bc0_48f6_9869_cb7935915f8a</name>
            <choiceReferences>c_841b7d0b_25fc_4fba_bd51_9bdedf052816</choiceReferences>
            <choiceReferences>c_ff6522e9_085c_43fa_967d_f03caf7f94e7</choiceReferences>
            <choiceReferences>c_17540a9e_0bf2_4f26_bb72_5170b43a3040</choiceReferences>
            <choiceReferences>c_b8d06e31_3bfd_4fae_987d_ac6cebfe6b92</choiceReferences>
            <choiceReferences>c_b43f57fc_3d36_4887_91e7_92efaee7f9ef</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rate the &lt;i&gt;Organization Updates&lt;/i&gt; segment of the call in terms of value it provides to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>StackRank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[5,4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0e834db8_304b_424b_a9d9_e06f2476ec97</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;We cover various types of organization updates on our calls. Rank these in order of importance.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;(1=most important, 5=least important)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c1da97f3_dc80_4133_982b_19b8821d3894</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Describe any other organization updates you would like to see covered on future calls.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ebf3b417_da58_4254_ac84_0500b0011112</name>
        <label>Project Spotlight</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_52843559_5727_4a5e_aa96_6c17b7df8bca</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_84831bd1_2ab9_4d15_b2e5_ebf53c9f2111_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_84831bd1_2ab9_4d15_b2e5_ebf53c9f2111</name>
            <choiceReferences>c_473b58ac_0af4_42c8_826d_7a84be25ecff</choiceReferences>
            <choiceReferences>c_06410e79_8709_4bbe_ac7a_a81709589cb1</choiceReferences>
            <choiceReferences>c_79a09e6a_f2a5_411f_91ff_5ac8a51a9bf8</choiceReferences>
            <choiceReferences>c_d28a5fb5_3894_4845_a491_20ff0e9fa452</choiceReferences>
            <choiceReferences>c_d4f2fb8e_3384_4918_854e_5bbf11eb1df5</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Rate the Project Spotlight segment of the call in terms of value it provides to you.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e01a6c84_3331_42c0_8f19_21f7b9f81c1f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;What is the reason for the rating you provided?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_84831bd1_2ab9_4d15_b2e5_ebf53c9f2111</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>c_d4f2fb8e_3384_4918_854e_5bbf11eb1df5</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_aa9c53f9_b4a6_4241_87d1_edde4a561aaf</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Performance highlights</text>
    </textTemplates>
    <textTemplates>
        <name>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Strategy and roadmap</text>
    </textTemplates>
    <textTemplates>
        <name>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>CSG business updates</text>
    </textTemplates>
    <textTemplates>
        <name>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Services business updates</text>
    </textTemplates>
    <textTemplates>
        <name>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>V2MOM &amp; survey results</text>
    </textTemplates>
    <textTemplates>
        <name>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Training opportunities</text>
    </textTemplates>
    <textTemplates>
        <name>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Birthdays and anniversaries</text>
    </textTemplates>
    <textTemplates>
        <name>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Team member introductions</text>
    </textTemplates>
    <textTemplates>
        <name>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>IA projects and initiatives</text>
    </textTemplates>
    <textTemplates>
        <name>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Compliance and certification reminders</text>
    </textTemplates>
    <textTemplates>
        <name>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Product feature and functionality overviews</text>
    </textTemplates>
    <textTemplates>
        <name>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Platform and technical deep dives</text>
    </textTemplates>
    <textTemplates>
        <name>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Project management best practices</text>
    </textTemplates>
    <textTemplates>
        <name>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Consulting best practices</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Thanks for your feedback! We&apos;ll plan on discussing the results of this survey on an upcoming team call in the very near future. &lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>In order to make improvements to our team call and ensure we are making the best use of everyone&apos;s time, please take 15-20 minutes to provide feedback on the current format.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;IA Team Call Feedback Survey&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_0e834db8_304b_424b_a9d9_e06f2476ec97_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>q_51426d6b_9734_4dbc_8a63_0d365fd89d85_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>q_732a2fe0_da8d_4310_8759_5537a65c3ec4_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_138b3660_8bc0_48f6_9869_cb7935915f8a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_3787923a_1f2a_4379_8d88_53203e395499_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_5403cb35_357b_48c6_9b0c_a06cc0e48937_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_8247d21b_66d1_4d30_9f79_e2d9f170d735_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_84831bd1_2ab9_4d15_b2e5_ebf53c9f2111_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
