ConsultingHub/force-app/main/default/flows/Onboarding_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Learnings</name>
        <label>Get Learnings</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <actionName>OnboardingFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Query_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>selections</name>
            <value>
                <elementReference>selectedOnboardingDomains</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnedLearnings</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open_Onboarding_Record</name>
        <label>Open Onboarding Record</label>
        <locationX>314</locationX>
        <locationY>3350</locationY>
        <actionName>c:OnboardingRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNOnboardingId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Module_Collection</name>
        <label>Add to Module Collection</label>
        <locationX>534</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>moduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisModule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLearnings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concatenate_collections</name>
        <label>Concatenate collections</label>
        <locationX>314</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>selectedOnboardingDomains</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedOrganizationDomainType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOnboardingDomains</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedProductDomainType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOnboardingDomains</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedRoleDomainType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedOnboardingDomains</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedSpecializationDomainType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Learnings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_module</name>
        <label>create module</label>
        <locationX>402</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>thisModule.Must_Complete_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MustCompleteDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Module_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_module_0</name>
        <label>create module</label>
        <locationX>666</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>thisModule.Must_Complete_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Completion_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Module_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_module_0_0</name>
        <label>create module</label>
        <locationX>534</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>thisModule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLearnings.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisModule.Learning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLearnings.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisModule.Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNOnboardingId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisModule.Hours_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLearnings.Expected_Hours_to_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisModule.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>learningRequiredYN</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ImplementationArchitect</name>
        <choiceText>Implementation Architect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ImplementationArchitect</stringValue>
        </value>
    </choices>
    <choices>
        <name>JuniorIA</name>
        <choiceText>JuniorIA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JuniorIA</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onboarding</name>
        <choiceText>Onboarding</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>skillingUp</name>
        <choiceText>Skilling Up</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TAM</name>
        <choiceText>Technical Account Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>learningRequiredYN</name>
        <label>learningRequiredYN</label>
        <locationX>534</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>create_module_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopLearnings.Must_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_module</targetReference>
            </connector>
            <label>required</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_User_Needed</name>
        <label>New User Needed?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Dates_and_User_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_New_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_a_new_user1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Profile</targetReference>
            </connector>
            <label>Needs New User</label>
        </rules>
    </decisions>
    <description>Flow for creation of Modules with Learning records and optional user creation.</description>
    <formulas>
        <description>This will automatically create an alias</description>
        <name>CreateAlias</name>
        <dataType>String</dataType>
        <expression>LEFT({!First_Name}, 1)+LEFT({!Last_Name}, 5)</expression>
    </formulas>
    <formulas>
        <name>MustCompleteDate</name>
        <dataType>Date</dataType>
        <expression>IF(({!Availability_Date}- {!Start_Date})&gt;30,{!Start_Date} + 30, {!Availability_Date} )</expression>
    </formulas>
    <formulas>
        <name>onboardingName1</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!vFirstName}),{!First_Name}+&quot; &quot;+{!Last_Name},{!vFirstName}+&quot; &quot;+{!vLastName})</expression>
    </formulas>
    <formulas>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <expression>IF({!Profile1} == &quot;Implementation Architect&quot;, &quot;Implementation Architect&quot;, IF({!Profile1} == &quot;JuniorIA&quot;, &quot;Jr. Implementation Architect&quot;,&quot;Technical Account Manager&quot;))</expression>
    </formulas>
    <formulas>
        <name>UsernameFormatted</name>
        <dataType>String</dataType>
        <expression>LEFT({!Email},FIND(&quot;@&quot;, {!Email}))  &amp; &quot;iatam.salesforce.com&quot;</expression>
    </formulas>
    <interviewLabel>Onboarding Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Flow NEW</label>
    <loops>
        <name>loopLearnings</name>
        <label>loopLearnings</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <collectionReference>returnedLearnings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_module_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_modules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_modules</name>
        <label>create modules</label>
        <locationX>314</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Modules_Sort_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ModuleError</targetReference>
        </faultConnector>
        <inputReference>moduleCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_User</name>
        <label>Create New User</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>UserId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Dates_and_User_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UserCreationErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>CreateAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Query_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UsernameFormatted</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>create_onboarding_record</name>
        <label>create onboarding record</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <assignRecordIdToReference>varNOnboardingId</assignRecordIdToReference>
        <connector>
            <targetReference>loopLearnings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>OnboardingError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Availability_Date__c</field>
            <value>
                <elementReference>Availability_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud__c</field>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Completion_Date__c</field>
            <value>
                <elementReference>Expected_Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Query_User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trail_Guide__c</field>
            <value>
                <elementReference>Trailguide.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding__c</object>
    </recordCreates>
    <recordLookups>
        <description>Query all active onboarding domains for Organization Domain Type</description>
        <name>Get_Onboarding_Domains_Organization</name>
        <label>Get Onboarding Domains Organization</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_Domains_Specialization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Domain_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Domain__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query all active onboarding domains for Product Domain Type</description>
        <name>Get_Onboarding_Domains_Product</name>
        <label>Get Onboarding Domains Product</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_Domains_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Domain_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Domain__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query all active onboarding domains for Role Domain Type</description>
        <name>Get_Onboarding_Domains_Role</name>
        <label>Get Onboarding Domains Role</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_Domains_Organization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Domain_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Domain__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query all active onboarding domains for Specialization Domain Type</description>
        <name>Get_Onboarding_Domains_Specialization</name>
        <label>Get Onboarding Domains Specialization</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Domain_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Domain_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specialization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Domain__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get user profile based on the role selected</description>
        <name>Query_Profile</name>
        <label>Query Profile</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get user details</description>
        <name>Query_User</name>
        <label>Query User</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_onboarding_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>To gather names of trailguide, new hire and various dates</description>
        <name>Get_Dates_and_User_Details</name>
        <label>Get Dates and User Details</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Onboarding_Domains_Product</targetReference>
        </connector>
        <fields>
            <name>Trailguide</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Trail_Guide__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Trail Guide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Onboarding__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Availability_Date</name>
            <dataType>Date</dataType>
            <fieldText>Availability Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Completion Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ModuleError</name>
        <label>ModuleError</label>
        <locationX>754</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ModuleErrorMessage</name>
            <fieldText>&lt;p&gt;An error occurred while creating Learning Module records. Please contact the administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modules_Sort_Screen</name>
        <label>Modules Sort Screen</label>
        <locationX>314</locationX>
        <locationY>3110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sorted_Modules_Preview</targetReference>
        </connector>
        <fields>
            <name>Modules_Sort</name>
            <extensionName>c:onboardingFlowModulePriorityScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OnboardingId</name>
                <value>
                    <elementReference>varNOnboardingId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen takes input for New User creation</description>
        <name>New_User</name>
        <label>New User</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_User_Needed</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_create_a_new_user1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create a new user?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>findUser1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Trail_Guide__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Find User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Onboarding__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_create_a_new_user1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_create_a_new_user1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_create_a_new_user1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_create_a_new_user1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Profile1</name>
            <choiceReferences>ImplementationArchitect</choiceReferences>
            <choiceReferences>JuniorIA</choiceReferences>
            <choiceReferences>TAM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Profile1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_want_to_create_a_new_user1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Onboarding_Domain_Selection</name>
        <label>Onboarding Domain Selection</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Concatenate_collections</targetReference>
        </connector>
        <fields>
            <name>dataTableRole</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Onboarding_Domain__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, Domain_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Onboarding_Domains_Role</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Role-based Domains</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedRoleDomainType</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dataTableProduct</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Onboarding_Domain__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, Domain_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Onboarding_Domains_Product</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Product-based Domains</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedProductDomainType</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dataTableOrganization</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Onboarding_Domain__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, Domain_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Onboarding_Domains_Organization</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Organization-based Domains</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrganizationDomainType</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>dataTableSpecialization</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Onboarding_Domain__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, Domain_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Onboarding_Domains_Specialization</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Specialization-based Domains</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSpecializationDomainType</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OnboardingError</name>
        <label>OnboardingError</label>
        <locationX>1018</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OnboardingErrorMessage</name>
            <fieldText>&lt;p&gt;An error occurred while creating onboarding record. Please contact the administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sorted_Modules_Preview</name>
        <label>Sorted Modules Preview</label>
        <locationX>314</locationX>
        <locationY>3230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_Onboarding_Record</targetReference>
        </connector>
        <fields>
            <name>ModulePreview</name>
            <extensionName>c:onboardingFlowModulePreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OnboardingId</name>
                <value>
                    <elementReference>varNOnboardingId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserCreationErrorScreen</name>
        <label>UserCreationErrorScreen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserCreationError</name>
            <fieldText>&lt;p&gt;An error occurred while creating user. Please verify if the user already exists with the username {!UsernameFormatted}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>onboardingName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;1&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collectionlearning</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Learning__c</objectType>
    </variables>
    <variables>
        <name>moduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Module__c</objectType>
    </variables>
    <variables>
        <name>modulesToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Module__c</objectType>
    </variables>
    <variables>
        <name>newUserTF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>returnedLearnings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Learning__c</objectType>
    </variables>
    <variables>
        <name>rvarlearning</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Learning__c</objectType>
    </variables>
    <variables>
        <name>rvarOnboarding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding__c</objectType>
    </variables>
    <variables>
        <name>selectedOnboardingDomains</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Domain__c</objectType>
    </variables>
    <variables>
        <description>Onboarding Domains selected for the &apos;Organization&apos; Domain Type</description>
        <name>selectedOrganizationDomainType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Domain__c</objectType>
    </variables>
    <variables>
        <description>Onboarding Domains selected for the &apos;Product&apos; Domain Type</description>
        <name>selectedProductDomainType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Domain__c</objectType>
    </variables>
    <variables>
        <description>Onboarding Domains selected for the &apos;Role&apos; Domain Type</description>
        <name>selectedRoleDomainType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Domain__c</objectType>
    </variables>
    <variables>
        <description>Onboarding Domains selected for the &apos;Specialization&apos; Domain Type</description>
        <name>selectedSpecializationDomainType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Onboarding_Domain__c</objectType>
    </variables>
    <variables>
        <name>thisModule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Module__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varlearning</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Learning__c</objectType>
    </variables>
    <variables>
        <name>varnewlearning</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Learning__c</objectType>
    </variables>
    <variables>
        <name>varNOnboardingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varuserid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varusername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
