ConsultingHub/force-app/main/default/flows/Platform_App_Rating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>asgnExistingRating</name>
        <label>Existing Rating</label>
        <locationX>496</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>soExistingRating.Proficiency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>listProficiency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExistingRating.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExistingRating.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>listRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soExistingRating.Rated_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlatformAppRatingName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soExistingRating.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fstUpdateRating</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCompletelyUseless</name>
        <choiceText>1 = Completely useless</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choiceMostlyUseful</name>
        <choiceText>4 = Mostly useful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choiceMostlyUseless</name>
        <choiceText>2 = Mostly useless</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choiceSomewhatUseful</name>
        <choiceText>3 = Somewhat useful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choiceUpdateRatingNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUpdateRatingYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceVeryUseful</name>
        <choiceText>5 = Very useful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>decRatingFound</name>
        <label>Rating Found</label>
        <locationX>387</locationX>
        <locationY>29</locationY>
        <defaultConnector>
            <targetReference>scrNewRating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decRatingFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soExistingRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrExistingRating</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUpdateOrCreate</name>
        <label>Update or Create</label>
        <locationX>582</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>recCreateRating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>decUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soExistingRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgnExistingRating</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUpdateRating</name>
        <label>Update Rating?</label>
        <locationX>391</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decUpdateRatingYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radUpdateRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceUpdateRatingYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrNewRating</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>plProficiency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proficiency__c</picklistField>
        <picklistObject>Platform_App_Rating__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>frmCurrentUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>frmCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Platform App Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Platform App Rating</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>recCreateRating</name>
        <label>Create App Rating</label>
        <locationX>670</locationX>
        <locationY>394</locationY>
        <assignRecordIdToReference>varPlatformAppRatingId</assignRecordIdToReference>
        <connector>
            <targetReference>recRatingName</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrFault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>txtComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>frmCurrentUserEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform_App__c</field>
            <value>
                <elementReference>varPlatformAppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proficiency__c</field>
            <value>
                <elementReference>listProficiency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rated_By__c</field>
            <value>
                <elementReference>frmCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rated_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>listRating</elementReference>
            </value>
        </inputAssignments>
        <object>Platform_App_Rating__c</object>
    </recordCreates>
    <recordLookups>
        <name>fstLookupRating</name>
        <label>Lookup Rating</label>
        <locationX>206</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decRatingFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Platform_App__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPlatformAppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rated_By__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmCurrentUserId</elementReference>
            </value>
        </filters>
        <object>Platform_App_Rating__c</object>
        <outputReference>soExistingRating</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Proficiency__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Rating__c</queriedFields>
        <queriedFields>Rated_On__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>recRatingName</name>
        <label>Lookup Rating Name</label>
        <locationX>672</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrFinish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPlatformAppRatingId</elementReference>
            </value>
        </filters>
        <object>Platform_App_Rating__c</object>
        <outputAssignments>
            <assignToReference>varPlatformAppRatingName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>fstUpdateRating</name>
        <label>Update Rating</label>
        <locationX>494</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>scrFinish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrFault</targetReference>
        </faultConnector>
        <inputReference>soExistingRating</inputReference>
    </recordUpdates>
    <screens>
        <name>scrExistingRating</name>
        <label>Display Existing Rating</label>
        <locationX>205</locationX>
        <locationY>143</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decUpdateRating</targetReference>
        </connector>
        <fields>
            <name>txtExistingAppFound</name>
            <fieldText>You have already given a rating to this app:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtExistingRatingInfo</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Experience Level&lt;/B&gt;:  {!soExistingRating.Proficiency__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Rating:&lt;/B&gt;  {!soExistingRating.Rating__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Rated On&lt;/B&gt;:  {!soExistingRating.Rated_On__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Comments:&lt;/B&gt;  {!soExistingRating.Comments__c}&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radUpdateRating</name>
            <choiceReferences>choiceUpdateRatingYes</choiceReferences>
            <choiceReferences>choiceUpdateRatingNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceUpdateRatingYes</defaultSelectedChoiceReference>
            <fieldText>Would you like to update your rating?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrFault</name>
        <label>Fault</label>
        <locationX>33</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtFaultMessage</name>
            <fieldText>You have encountered an error:  {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrFinish</name>
        <label>Rating Captured</label>
        <locationX>587</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtFinishCreateMessage</name>
            <fieldText>Your rating has been recorded: {!varPlatformAppRatingName}

You can update your rating from here or by navigating to the Platform App Ratings related list on the Platform App record.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrNewRating</name>
        <label>Create New Rating</label>
        <locationX>580</locationX>
        <locationY>144</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decUpdateOrCreate</targetReference>
        </connector>
        <fields>
            <name>listProficiency</name>
            <choiceReferences>plProficiency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your experience level with this app?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>listRating</name>
            <choiceReferences>choiceCompletelyUseless</choiceReferences>
            <choiceReferences>choiceMostlyUseless</choiceReferences>
            <choiceReferences>choiceSomewhatUseful</choiceReferences>
            <choiceReferences>choiceMostlyUseful</choiceReferences>
            <choiceReferences>choiceVeryUseful</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>How useful do you find this app?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>txtComments</name>
            <defaultValue>
                <elementReference>soExistingRating.Comments__c</elementReference>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrStart</name>
        <label>Start</label>
        <locationX>32</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>fstLookupRating</targetReference>
        </connector>
        <fields>
            <name>txtStartMessage</name>
            <fieldText>Please take a moment to rate this app or update your existing rating.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>scrStart</startElementReference>
    <status>Active</status>
    <variables>
        <name>soExistingRating</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Platform_App_Rating__c</objectType>
    </variables>
    <variables>
        <name>soNewRating</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Platform_App_Rating__c</objectType>
    </variables>
    <variables>
        <name>varPlatformAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlatformAppRatingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlatformAppRatingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
